@mixin input {
  padding: 0 10px;
  width: 100%;
  border-radius: $border-radius-md;
  border: 1px solid $default-input-border;
  outline: 0;
  color: $default-input-color;
  &::placeholder {
    color: $default-input-placeholder-color;
    font-size: 0.9rem;
  }
  &:disabled {

  }

  @content;
}

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin mobile-landscape {
  @media (max-width: 1199px) and (orientation: landscape) {
    @content;
  }
}
