$downBar-index: 100;
$topBar-index: 101;
$myList-index: 102;
$minigame-index: 200;
$popout-notice-index: 104;
$popout-index: 900;
$popout-page-index: 901;
$message-wrap-index: 1100;
$message-index: 1101;
$service-index: 1102;
// $game-iframe-index: 1000;
$game-iframe-home-index: 1001;
$dist-iframe-index: 800;
$loading-index: 910;
$main-lobby-index: 10000;
$scroll-index: 100000;
// 
$downBar-height: 0rem;
$topBar-height: 3.5rem;
$title-height: 3.5rem;
$notLogin-topBar-height: 3.5rem; //原本是4.5
// breakpoints
$breakpoints-up: (
  "3xl": "1800px",
  "xxl": "1400px",
  "xl": "1200px",
  "lg": "992px",
  "md": "768px",
  "sm": "576px",
  "xs": "250px"
);
// 

// border-radius
$border-radius-md: 6px;
$border-radius-sm: 2px;
$border-radius-rounded-btn: 50px;
$border-radius-circle: 50%;

