.message-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: $message-wrap-index;
}
.message {
  position: fixed;
  z-index: 1001;
  top: 27%;
  left: 50%;
  transform: translateX(-50%);
  z-index: $message-index;
  max-width: 92%;
  width: 35rem;
  overflow: hidden;
  // height: 24rem;
  // border: 3px solid #5b99bf;
  background: $darkpageTop-color;
  border-radius: 16px;
  :deep(.text-wrap) {
    margin-bottom: 10px;
  }
  .qrcode-img {
    width: 40%;
    @include breakpoint-up("md") {
      width: 38%;
    }
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 1rem;
    position: relative;
    background: $darkpageBottom-color;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: bold;
    span{
      text-align: center;
    }
    .close {
      position: absolute;
      height: 35%;
      object-fit: contain;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      // margin-right: 1rem;
      // margin-top: 2rem;
    }
  }
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1.7rem;
    .close {
      width: 3rem;
      height: 3rem;
      position: absolute;
      top: -13px;
      right: -13px;
    }
    .text {
      height: 80%;
      color: $primary;
      .title {
        margin-top: 0;
        text-align: center;
        font-size: 1.8rem;
        height: 3rem;
        @include breakpoint-up("md") {
          font-size: 1.4rem;
        }
        margin-bottom: 15px;
      }
      .content {
        text-align: center;
        white-space: break-spaces;
        // font-size: 1.8rem;
        &.smallText {
          font-size: 0.9rem;
        }
        &.bigText {
          font-size: 1.5rem;
        }
        color: $primary;
        line-height: 1.5;
        &.slot {
          display: flex;
          flex-direction: column;
          justify-content: center;
          p {
            word-wrap: break-word;
          }
        }
        &.normal {
          // margin-top: 30px;
        }
        &.nowrap {
          // white-space: nowrap;
          word-wrap: break-word;
          display: inline-block;
          word-break: break-word;
        }
      }
    }
  }
  .button-group {
    // position: absolute;
    // bottom: 0;
    // left: 50%;
    // transform: translate(-50%, -50%);
    width: 100%;
    height: 2.5rem;
    margin-top: 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // .save {
    //   width: 7rem;
    //   height: 2.4rem;
    //   @include breakpoint-up("md") {
    //     width: 6rem;
    //     height: 2rem;
    //   }
    //   margin: 0 auto;
    //   font-size: 1.5rem;
    //   text-decoration: none;

    //   &:active {
    //     filter: grayscale(50%) brightness(90%);
    //     // background-image: url('@/assets/images/login/loginActiveBtn.png');
    //   }
    // }
  }
}
