  // 彈窗(KEN版)
.message-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $popout-page-bg;
  z-index: $message-wrap-index;
}
.message {
  position: fixed;
  z-index: 1001;
  top: 27%;
  left: 50%;
  transform: translateX(-50%);
  z-index: $message-index;
  max-width: 92%;
  width: 35rem;
  overflow: hidden;
  background: $popoutMiddle-color;
  border-radius: $border-radius-md;
  :deep(.text-wrap) {
    margin-bottom: 10px;
  }
  .qrcode-img {
    width: 40%;
    @include breakpoint-up("md") {
      width: 38%;
    }
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1.2rem;
    position: relative;
    background: $popoutTop-color;
    border-radius: $border-radius-md $border-radius-md 0 0;
    box-sizing: border-box;
    color: $title;
    font-size: 1.5rem;
    font-weight: bold;
    span {
      width: 96%;
      line-height: 140%;
      text-align: center;
    }
    .close {
      // position: absolute;
      // height: 35%;
      width: 4%;
      text-align: right;
      overflow: hidden;
      // right: 1rem;
      // top: 50%;
      // transform: translateY(-50%);
      // margin-right: 1rem;
      // margin-top: 2rem;
      cursor: pointer;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2.4rem 3.6rem;
    .close {
      width: 3rem;
      height: 3rem;
      position: absolute;
      top: -13px;
      right: -13px;
    }
    .text {
      height: 80%;
      color: $primary;
      .title {
        margin-top: 0;
        text-align: center;
        font-size: 1.8rem;
        height: 3rem;
        @include breakpoint-up("md") {
          font-size: 1.4rem;
        }
        margin-bottom: 15px;
      }
      .content {
        width: 100%;
        text-align: center;
        white-space: break-spaces;
        // font-size: 1.8rem;
        &.smallText {
          font-size: 0.9rem;
        }
        &.bigText {
          font-size: 1.5rem;
        }
        color: $primary;
        line-height: 1.5;
        &.slot {
          display: flex;
          flex-direction: column;
          justify-content: center;
          p {
            word-wrap: break-word;
          }
        }
        &.normal {
          // margin-top: 30px;
        }
        &.nowrap {
          // white-space: nowrap;
          word-wrap: break-word;
          display: inline-block;
          word-break: break-word;
        }
        .list {
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;
          color: $title;
          &:last-child {
            .list__right {
              color: $title2;
              font-weight: bold;
            }
          }
          .tag {
            margin-right: 4px;
            color: $anotherservice-text-color;
          }
        }
      }
    }
  }
  .button-group {
    // position: absolute;
    // bottom: 0;
    // left: 50%;
    // transform: translate(-50%, -50%);
    width: 100%;
    height: 2.5rem;
    margin-top: 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // .save {
    //   width: 7rem;
    //   height: 2.4rem;
    //   @include breakpoint-up("md") {
    //     width: 6rem;
    //     height: 2rem;
    //   }
    //   margin: 0 auto;
    //   font-size: 1.5rem;
    //   text-decoration: none;

    //   &:active {
    //     filter: grayscale(50%) brightness(90%);
    //     // background-image: url('@/assets/images/login/loginActiveBtn.png');
    //   }
    // }
  }
}
