// 彈窗-專門給一進入大廳，顯示遊戲公告用的
.popout_page {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  // max-width: 470px;
  width: 100%;
  height: 100%;
  z-index: $popout-notice-index; //
  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #3d6e99;
    &.subpageTitle {
      margin: 3rem 0 2rem 0;
    }
  }
  .backBtn {
    font-size: 5vmin;
    position: absolute;
    width: 40px;
  }
  .bg {
    width: 100%;
    height: 100%;
    background: $popout-page-bg;
  }
  .page {
    // FIXME 手機板版型調整
    color: $primary;
    position: absolute;
    background: $popoutMiddle-color;
    // width: 40%;
    height: 85%;
    @include breakpoint-up("xs") {
      width: 300px;
    }
    @include breakpoint-up("sm") {
      width: 400px;
    }
    @include breakpoint-up("md") {
      width: 600px;
    }
    left: 50%;
    top: 50%;
    border-radius: $border-radius-md;
    transform: translate(-50%, -50%);
    z-index: $popout-page-index;
    .title {
      height: $title-height;
      background: $popoutTop-color;
      border-radius: $border-radius-md $border-radius-md 0 0;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .close {
        position: absolute;
        right: 1rem;
        top: calc(50%);
        transform: translateY(-50%);
        height: 35%;
        object-fit: contain;
        z-index: 999;
      }
    }
    .content {
      width: 100%;
      height: calc(100% - $title-height);
      border-radius: 0 0 $border-radius-md $border-radius-md;
      overflow-y: auto;
      position: relative;
      &.notitle{
        border-radius: $border-radius-md;
        padding: 10px 0 0 0;
        height: 100%;
      }
      .key {
        color: $modal-key;
        margin-right: 20px;
      }
      label {
        color: $modal-key;
        // :focus {

        // }
      }
      .error {
        color: $error-color;
        font-size: 14px;
      }
      .button {
        color: #ffffff;
        &.smallBtn {
          // background-image: url('@/assets/images/modal/submit_btn_s1.png');
          font-size: 0.8rem;
          @include breakpoint-up("md") {
            width: 8rem;
            height: 3.1rem;
          }
          width: 6rem;
          height: 2.1rem;
          // &.focus {
          //   // background-image: url('@/assets/images/modal/submit_btn_s2.png');
          // }
          &.disabled {
            filter: brightness(50%) grayscale(100%);
          }
        }
      }
      .content_page {
        width: 100%;
        height: calc(100% - 8rem);
        overflow-y: auto;
        color: white;
      }
      .section {
        margin-top: 10px;
        p,
        label {
          font-size: 16px;
        }
      }
    }
  }
}
